@charset "ISO-8859-1";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.main {
	width:100vw;
	height: auto;
	display: flex;
	overflow: hidden;
}
.leftdiv{
	width: 15%;
	height: 100%;
	
}


.middlediv {
	width: 60%;
	height: 100vh;
	margin-left: 1px;
	margin-right: 0.5px;
	
	
}

.rightdiv {
	width: 25%;
	height: 100vh;


}

#li {
	width: 50%;
	text-align: center;
	margin-top: 10px;



}


.nav-link {
	background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
	color: white;

}

.hk:hover{
	background: linear-gradient(rgb(217, 214, 243), rgb(91, 82, 180), #24243e);
	color: white;
}

.menu {
	background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
	height: 60px;
	
	
	
}



.profile{
height: 200pxpx;
display: flex;
padding-left: 120px;
border-radius: 10px;
padding-top: 40px;
}



.firstNamelogomaindiv{
 width: 55px;
 height: 100px;
 margin-left: 10px;
 margin-top: 4px;
}
.namelogo a{
text-decoration: none;
color: white;
}
.namelogo a :hover{
	text-decoration: none;
color: white;
}

.firstNamelogomaindiv h1{
	color: blue;
	background: white;
	padding-left: 17px;
	border-radius: 50%;
	padding-bottom: 7px;
	
}
.namelogo{
	
	color: white;
	padding: 9px;
	padding-top: 10px;
}
.namelogo #btn{
	padding: 3px;
}

.maincontent{
	width: 100%;
	margin-top: 1px;
	background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
	height: 500px;
	
	
 
}
.overflowcontaint{
	height: 500px;
	overflow: auto;
	
}

.info{
	color: white;
	}


.rightdiv{
	background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}

























